html, body{
  padding:0;
  margin:0;
  width:100%;
  height:100%;
}

body{
  background: rgba(43,46,51,.8);
  background: linear-gradient(0deg, rgba(43,46,51,0.8) 0%, rgba(44,49,74,0.8) 100%);
}

.App {
  text-align: center;
}

.question-card, .final-results {
  position:absolute;
  margin:0;
  left: 50%;
  top: 50%;
  width: 70%;
  height: auto;
  background: rgba(44,49,74,.8);
  background: linear-gradient(0deg, rgba(43,46,51,0.8) 0%, rgba(44,49,74,0.8) 100%);
  padding: 40px 16px;
  color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

ul {
  list-style: none;
  padding:0 30px;
}

li {
  margin-top: 8px;
  background-color: transparent;
  padding: 16px;
  border: 1px solid #fff;
  border-radius: 8px;
  font-size: 18px;
  color:#fff;
  cursor:pointer;
  transition: all .25s ease-in-out;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

li:not(.selected):hover{
  background-color: rgba(255,255,255,.2);
}
li[disabled]:hover{
  background-color:inherit;
  cursor:default;
}

.current-status{
  display:flex;
  flex-wrap:nowrap;
  justify-content:space-between;
  font-weight:300;
  color:rgba(255,255,255,.9);
  padding: 0 30px;
}

.question-text {
  color: #fff;
  font-size: 22px;
  font-weight:700;
  padding: 0 20px;
}

button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 8px 48px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 24px;
  cursor:pointer;
  min-width:300px;
  transition: all .2s ease-in-out;
}

button:not([disabled]):hover {
  transform: scale(1.05);
  background-color: rgba(44,49,74,.6);
}

button[disabled]{
  background-color: transparent;
  color:#2b2f34;
  border-color: #2b2f34;
  cursor:default;
}

button.retry{
  margin:20px;
}
.selected, .selected[disabled]:hover {
  background-color: #fff;
  color: #2b3141;
  transition: background-color .25s linear;
}
.incorrect, .incorrect[disabled]:hover {
  background-color: #83141e;
  border-color: #83141e;
  color:#fff;
  transition: background-color .25s linear;
}
.correct, .correct[disabled]:hover {
  background-color: #097b09;
  border-color: #097b09;
  color:#fff;
  transition: background-color .25s linear;
}
.missed, .missed[disabled]:hover{
  background-color: #BAEEC6;
  border-color: #83141e;
  color:#333;
  transition: background-color .25s linear;
}


.final-results.perfect:before{
  content:url('https://tanialynne.com/indeed/img/perfect.png');
}
.final-results.good:before{
  content:url('https://tanialynne.com/indeed/img/good.png');
}
.final-results.notbad:before{
  content:url('https://tanialynne.com/indeed/img/ok.png');
}
.final-results.uhoh:before{
  content:url('https://tanialynne.com/indeed/img/uhoh.png');
}

.fadeInAndOut {
    animation: fadeinout 1.5s linear 1 forwards;
}


@keyframes fadeinout {
  0%,100% { opacity: 1; }
  25% { opacity: 0; }
  35% { opacity: 0; }
}

@media only screen and (max-width: 1280px) {
  .question-card {
    margin: 0 auto;
    width: 80%;
  }
}
@media only screen and (max-width: 768px) {
  .question-card, .final-results {
    margin: 0 auto;
    width: 100%;
    padding:16px 0;
    min-width:325px;
  }
}
